@model StockWebFinal.Models.Producto

@{
    ViewData["Title"] = "Crear producto";
}

<div class="container-lg col-4">
    <h1>Crear Producto</h1>
    <form asp-action="Crear" method="POST" onsubmit="return validarCampos();">

        <div class="input-group mb-3">
            <label asp-for="Marca_Id" class="input-group-text">Marca</label>
            <select asp-for="Marca_Id" class="form-control" id="marca">
                <option value="">Seleccione una marca</option>
                @foreach (var marca in ViewBag.Marcas)
                {
                    <option value="@marca.Id">@marca.Nombre</option>
                }
            </select>
        </div>

        <div class="input-group mb-3">
            <label asp-for="Categoria_Id" class="input-group-text">Categoría</label>
            <select asp-for="Categoria_Id" class="form-control" id="categoria">
                <option value="">Seleccione una categoría</option>
                @foreach (var categoria in ViewBag.Categorias)
                {
                    <option value="@categoria.Id">@categoria.Nombre</option>
                }
            </select>
        </div>

        <div class="input-group mb-3">
            <label asp-for="Proveedor_Id" class="input-group-text">Proveedor</label>
            <select asp-for="Proveedor_Id" class="form-control" id="proveedor">
                <option value="">Seleccione una marca</option>
                @foreach (var proveedor in ViewBag.Proveedores)
                {
                    <option value="@proveedor.Id">@proveedor.Denominacion</option>
                }
            </select>
        </div>

        <div class="input-group mb-3">
            <label asp-for="Nombre" class="input-group-text">Nombre</label>
            <input asp-for="Nombre" type="text" class="form-control" placeholder="Ingresar Nombre" id="nombre">
        </div>

        <div class="input-group mb-3">
            <label asp-for="Descripcion" class="input-group-text">Descripción</label>
            <input asp-for="Descripcion" type="text" class="form-control" placeholder="Ingresar Descripción" id="descripcion">
        </div>

        <div class="input-group mb-3">
            <label asp-for="CodigoSerie" class="input-group-text">Código de barras</label>
            <input asp-for="CodigoSerie" type="text" class="form-control" placeholder="Ingresar Código de Barras" id="codigoSerie">
        </div>

        <div class="input-group mb-3">
            <label asp-for="PrecioCompra" class="input-group-text">Precio de Compra</label>
            <input asp-for="PrecioCompra" type="text" class="form-control" placeholder="Ingresar Precio de Compra">
        </div>

        <div class="input-group mb-3">
            <label asp-for="Stock" class="input-group-text">Stock</label>
            <input asp-for="Stock" type="text" class="form-control" placeholder="Ingresar Stock" id="stock">
        </div>

        <div class="input-group mb-3">
            <label asp-for="StockMinimo" class="input-group-text">Stock Mínimo</label>
            <input asp-for="StockMinimo" type="text" class="form-control" placeholder="Ingresar Stock Mínimo" id="stockMinimo">
        </div>

        <div class="input-group mb-3">
            <label asp-for="FechaAlta" class="input-group-text">Fecha de alta</label>
            <input asp-for="FechaAlta" type="datetime" class="form-control" id="fechaAlta" value="@DateTime.Now" readonly>
        </div>

        <div class="form-group">
            <select asp-for="Estado" id="Estado" name="Estado" class="form-control">
                <option value="True">Activo</option>
                <option value="False">Inactivo</option>
            </select>
        </div>
        <br>

        <div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>

</div>

@section Scripts {
    <script src="~/js/Validaciones/CrearProducto.js"></script>
}