@model StockWebFinal.Models.Ingreso

@{
    ViewData["Title"] = "Detalles Ingreso";
}

<h1>Detalles Ingreso</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario_Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario_Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria_Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categoria_Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Marca_Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Marca_Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Producto_Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Producto_Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioCompra)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrecioCompra)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Volver al listado</a>
</div>