@model StockWebFinal.Models.Proveedor

@{
    ViewData["Title"] = "Detalles Proveedor";
}

<div>
    <h1>Detalles Proveedor</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Denominacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Denominacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CuilCuit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CuilCuit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Provincia_Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Provincia_Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Localidad_Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Localidad_Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Correo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Correo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAlta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaAlta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Volver al listado</a>
</div>
